body {background-color: darkslategray; text-align: center;}
h1{color: azure;}
h3{color: rgb(182, 214, 139); text-align: center;}
form{color: whitesmoke;}
fieldset{border: 3 px solid;
        color: cyan;}